<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                Pénzeszköz alakulása
                <canvas baseChart [datasets]="stat38.data" [labels]="stat38.labels" [options]="stat38.ChartOptions"
                    [colors]="stat38.lineChartColors" [legend]="stat38.lineChartLegend" [chartType]="stat38.chartType"
                    [plugins]="stat38.lineChartPlugins">
                </canvas>
            </div>
            <div class="column is-6">
                Saját tőke változása
                <canvas baseChart [datasets]="stat4.data" [labels]="stat4.labels" [options]="stat4.ChartOptions"
                    [colors]="stat4.lineChartColors" [legend]="stat4.lineChartLegend" [chartType]="stat4.chartType"
                    [plugins]="stat4.lineChartPlugins"></canvas>
            </div>
        </div>
        <div class="columns">
            <div class="column is-6">
                Beruházások
                <canvas baseChart [datasets]="stat161.data" [labels]="stat161.labels" [options]="stat161.ChartOptions"
                    [colors]="stat161.lineChartColors" [legend]="stat161.lineChartLegend"
                    [chartType]="stat161.chartType" [plugins]="stat161.lineChartPlugins">
                </canvas>
            </div>
            <div class="column is-6">
                ÉCS
                <canvas baseChart [datasets]="stat468.data" [labels]="stat468.labels" [options]="stat468.ChartOptions"
                    [colors]="stat468.lineChartColors" [legend]="stat468.lineChartLegend"
                    [chartType]="stat468.chartType" [plugins]="stat468.lineChartPlugins">
                </canvas>
            </div>
        </div>
        <div class="columns">
            <div class="column is-6">
                Költségek alakulása
                <canvas baseChart [datasets]="stat5.data" [labels]="stat5.labels" [options]="stat5.ChartOptions"
                    [colors]="stat5.lineChartColors" [legend]="stat5.lineChartLegend" [chartType]="stat5.chartType"
                    [plugins]="stat5.lineChartPlugins">
                </canvas>
            </div>
            <div class="column is-6">
                Eredménykimutatás
                <canvas baseChart [datasets]="stat985.data" [labels]="stat985.labels" [options]="stat985.ChartOptions"
                    [colors]="stat985.lineChartColors" [legend]="stat985.lineChartLegend"
                    [chartType]="stat985.chartType" [plugins]="stat985.lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
</section>