<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <p class="subtitle is-5">#{{model.id}}</p>
                <p class="content">{{model.subject}}</p>
                <p class="is-6">Teljesítés dátuma: {{model.date_settlement | date}}</p>
                <p class="content">Könyvelte: @{{model.created_by}}</p>
                <p class="has-text-grey content">Könyvelés dátuma: {{model.date_created | date}}</p>
            </div>
            <div class="column">
                <div class="tile is-ancestor">
                    <div class="tile">
                        <div class="tile">
                            <div class="tile is-parent">
                                <article class="tile is-child notification has-background-white">
                                    <p class="subtitle is-6">Könyvelt összeg:</p>
                                    <p class="title is-4">{{model.amount.toLocaleString()}} HUF</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile">
                        <div class="tile">
                            <div class="tile is-parent">
                                <article class="tile is-child notification">
                                    <p class="title is-4">Tartozik</p>
                                    <p class="subtitle">{{model.debit}}</p>
                                    <p>{{debitName}}</p>
                                </article>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child notification">
                                <p class="title is-4">Követel</p>
                                <p class="subtitle">{{model.credit}}</p>
                                <p>{{creditName}}</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>