<section class="section">
    <div class="container">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <p class="title">Számlatükör</p>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <button class="button is-success" routerLink="./new">Új számla</button>
                </div>
            </div>
        </nav>
        <table class="table is-fullwidth is-size-7-touch">
            <thead>
                <tr>
                    <th></th>
                    <th class="is-narrow">#</th>
                    <th>Név</th>
                    <th class="is-hidden-touch">Leírás</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let account of model">
                    <td class="is-narrow">
                        <span class="icon" alt="Könyvelhető">
                            <i class="far fa-check-circle" [class.has-text-success]="account.is_working"></i>
                        </span>
                    </td>
                    <td class="is-narrow">
                        <a [routerLink]="['./', account.id]">{{account.id}}</a>
                    </td>
                    <td>{{account.name}}</td>
                    <td class="is-hidden-touch">{{account.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>