<section class="section">
    <div class="container">
        <p class="title">Raktárak</p>
        <div class="buttons">
            <button class="button">Új raktár</button>
            <button class="button">Új szállító</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Név</th>
                    <th>SKU szám</th>
                    <th>UPL szám</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a routerLink="./">Nyírtass bolt</a></td>
                    <td>120</td>
                    <td>780</td>
                </tr>
                <tr>
                    <td><a routerLink="./">Nyírtass hűtőház</a></td>
                    <td>9</td>
                    <td>70</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="section">
    <div class="container">
        <p class="title is-inline-block">Nyírtass bolt</p>
        <span class="icon is-inline-block ml-4">
            <a routerLink="./">
                <i class="fas fa-pencil-alt"></i>
            </a>
        </span>
        <input type="text" class="input" placeholder="Keresés">
        <table class="table">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Név</th>
                    <th>Darabszám</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12312</td>
                    <td>
                        <a routerLink="./">Yara Milla 24-5-5</a>
                    </td>
                    <td>17</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="section">
    <div class="container">
        <p class="title">Termékek</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Termék neve</th>
                    <th>Kiszerelés</th>
                    <th>Termék nettó ára</th>
                    <th>Termék bruttó ára</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a routerLink="./">Bordóilé neo SC</a></td>
                    <td>5 liter</td>
                    <td>11.564,12 HUF</td>
                    <td>13.234.11 HUF</td>
                </tr>
                <tr>
                    <td><a routerLink="./">Bordóilé neo SC</a></td>
                    <td>1 liter</td>
                    <td>2.497,63 HUF</td>
                    <td>2.497,63 HUF</td>
                </tr>
                <tr>
                    <td><a routerLink="./">Bordóilé neo SC</a></td>
                    <td>200 ml</td>
                    <td>1.432,19 HUF</td>
                    <td>1.432,19 HUF</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>