<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <p class="title">{{model.name}}</p>
                <p *ngIf="!model.is_active" class="subtitle has-text-danger">TÖRÖLVE!</p>
                <form #Form="ngForm" (submit)="update()">
                    <div class="field">
                        <label class="label">Eszköz neve</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Példa eszköz" name="name"
                                [(ngModel)]="model.name" [disabled]="!model.is_active">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Eszköz rövid leírása</label>
                        <div class="control">
                            <textarea name="description" cols="30" rows="5" class="textarea"
                                [(ngModel)]="model.description" [disabled]="!model.is_active"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Főkönyvi számla</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Példa számla" disabled name="account"
                                [ngModel]="model.account">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">ÉCS elszámolási számla</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Példa számla" disabled name="account_clearing"
                                [ngModel]="model.account_clearing">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Aktiválási érték</label>
                    </div>
                    <div class="field has-addons">
                        <div class="control">
                            <input type="number" class="input" disabled name="value" [ngModel]="model.value">
                        </div>
                        <p class="control">
                            <a class="button is-static">
                                HUF
                            </a>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">ÉCS kulcs (%)</label>
                        <div class="control">
                            <input type="number" class="input" disabled name="key" [ngModel]="model.depreciation_key">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Maradványérték</label>
                    </div>
                    <div class="field has-addons">
                        <div class="control">
                            <input type="number" class="input" disabled name="residual_value"
                                [ngModel]="model.residual_value">
                        </div>
                        <p class="control">
                            <a class="button is-static">
                                HUF
                            </a>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Aktiválás dátuma</label>
                        <div class="control">
                            <input type="date" class="input" disabled name="date_activated"
                                [ngModel]="model.date_activated">
                        </div>
                    </div>
                    <div class="field">
                        <p>Hozzáadva: {{model.date_created | date}}</p>
                        <p>Hozzáadta: {{model.created_by}}</p>
                    </div>
                    <div class="field">
                        <div class="control">
                            <div class="buttons">
                                <button *ngIf="model.is_active" class="button is-success is-outlined"
                                    type="submit">Mentés</button>
                                <button *ngIf="model.is_active" class="button is-danger is-outlined" type="button"
                                    (click)="remove()">Törlés</button>
                                <button *ngIf="!model.is_active" class="button is-success is-outlined" type="button"
                                    (click)="restore()">Helyreállítás</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column">
                <div class="tile is-ancestor">
                    <div class="tile">
                        <div class="tile is-parent">
                            <div class="tile is-child notification">
                                <p>Összes elszámolt ÉCS:
                                    <br>{{cumulated_depreciation.toLocaleString()}} HUF</p>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child notification">
                                <p>Jelenlegi nettó érték:
                                    <br>{{current_net_value.toLocaleString()}} HUF</p>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Hónap</th>
                            <th>ÉCS értéke</th>
                            <th>Halmozott ÉCS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let month of model.depreciation_monthly">
                            <td>{{month.month}}</td>
                            <td>{{month.monthly_value.toLocaleString()}} HUF</td>
                            <td>{{month.cumulated.toLocaleString()}} HUF</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>