<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <p class="title">{{model.name}} <button
                        (click)="model.is_enabled ? project_disable() : project_enable()" class="button is-small"
                        [class.is-success]="model.is_enabled">{{model.is_enabled ? 'Aktív' : 'Deaktív'}}</button></p>
                <p class="subtitle">{{model.description}}</p>
            </div>
        </div>
        <div class="columns">
            <div class="column is-6">
                <p class="title is-5">Tranzakciók</p>
                <div class="box has-background-lighter" *ngFor="let transaction of model.transactions">
                    <p class="is-size-7 header">
                        <a>{{transaction.date_settlement | date}}</a>
                        <a>@{{transaction.created_by}}</a>
                        <a>#{{transaction.id}}</a>
                    </p>
                    <p class="is-6">
                        <a class="has-text-dark" [routerLink]="['./', transaction.id]">{{transaction.subject}}</a>
                    </p>
                    <p class="has-text-grey is-size-7 is-inline-block ft">
                        <span>Összeg: <strong>{{transaction.amount.toLocaleString()}} HUF</strong></span>
                        <span>Kontír tételek: {{transaction.debit}} / {{transaction.credit}}</span>
                        <span>Könyvelés dátuma: {{transaction.date_created | date}}</span>
                    </p>
                    <div class="buttons">
                        <button class="button is-small" (click)="remove_transaction(transaction.id)">Törlés</button>
                        <button class="button is-small" (click)="clone(transaction)">Lemásol</button>
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <p class="title is-5">Új tétel</p>
                <form #loginForm="ngForm" (submit)="submit(false)">
                    <div class="field">
                        <label class="label">Megnevezés</label>
                        <div class="control">
                            <textarea class="textarea" name="event" cols="30" rows="5"
                                [(ngModel)]="new_transaction_model.subject" #subject autofocus="true"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Tartozik</label>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <input type="text" class="input" placeholder="Tartozik" name="debit"
                                [(ngModel)]="new_transaction_model.debit" #debit (ngModelChange)="updateNames()"
                                (keydown.control.h)="displayHelper(true); false">
                        </div>
                        <div class="control">
                            <button class="button" type="button" tabindex="-1" (click)="displayHelper(true)">+</button>
                        </div>
                    </div>
                    <div class="field">
                        <p class="help">{{debit_name || '-'}}</p>
                    </div>
                    <div class="field">
                        <label class="label">Követel</label>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <input type="text" class="input" placeholder="Követel" name="credit"
                                [(ngModel)]="new_transaction_model.credit" #credit (ngModelChange)="updateNames()"
                                (keydown.control.h)="displayHelper(false); false">
                        </div>
                        <div class="control">
                            <button class="button" type="button" tabindex="-1" (click)="displayHelper(false)">+</button>
                        </div>
                    </div>
                    <div class="field">
                        <p class="help">{{credit_name || '-'}}</p>
                    </div>
                    <div class="field">
                        <label class="label">Összeg</label>
                    </div>
                    <div class="field has-addons">
                        <p class="control">
                            <input class="input" type="number" placeholder="1000" name="amount"
                                [(ngModel)]="new_transaction_model.amount">
                        </p>
                        <p class="control">
                            <a class="button is-static">
                                HUF
                            </a>
                        </p>
                    </div>
                    <div class="field">
                        <p class="help">{{new_transaction_model.amount.toLocaleString()}} HUF</p>
                    </div>
                    <div class="field">
                        <label class="label">Teljesítés dátuma</label>
                        <div class="control">
                            <input type="date" class="input" name="date_settlement"
                                [ngModel]="new_transaction_model.date_settlement"
                                (ngModelChange)="new_transaction_model.date_settlement = $event">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <div class="buttons">
                                <button class="button is-success" type="submit">Hozzáad</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="modal is-overlay" [class.is-active]="helperIsActive" (document:keydown.esc)="helperIsActive = false">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Számlaszámok</p>
            <button class="delete" aria-label="close" (click)="helperIsActive = false"></button>
        </header>
        <section class="modal-card-body">
            <table class="table is-fullwidth is-striped">
                <tbody>
                    <ng-container *ngFor="let account of accounts">
                        <tr *ngIf="account.is_working && account.is_active">
                            <td [class.has-text-success]="account.is_working" class="is-narrow">{{account.id}}</td>
                            <td><a (click)="target_is_debit
                                    ? new_transaction_model.debit = account.id
                                    : new_transaction_model.credit = account.id;
                                    updateNames();
                                    helperIsActive = false;">{{account.name}}</a>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </section>
    </div>
</div>