<section class="section">
    <div class="container">
        <!--         
        Search field mobile view -->
        <div class="columns is-hidden-desktop">
            <div class="column has-text-centered">
                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" type="text" placeholder="Szűrés" name="filter" [(ngModel)]="filter">
                        <span class="icon is-small is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <input type="date" class="input" name="till" [(ngModel)]="till" (ngModelChange)="load()">
                    </div>
                    <div class="control">
                        <button class="button" type="button" (click)="load()">Szűrés</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 
        Search field desktop view -->
        <nav class="level is-hidden-touch">
            <div class="level-left">
                <div class="level-item">
                    <div class="field is-grouped">
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Szűrés" name="filter" [(ngModel)]="filter">
                            <span class="icon is-small is-left">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <div class="control">
                            <input type="date" class="input" name="till" [(ngModel)]="till" (ngModelChange)="load()">
                        </div>
                        <div class="control">
                            <button class="button" type="button" (click)="load()">Szűrés</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="level-right is-hidden-mobile">
                <div class="level-item">
                    <!-- <button class="button is-outlined is-success is-normal" routerLink="./new">Új tétel</button> -->
                </div>
            </div>
        </nav>
        <table class="table is-fullwidth">
            <thead>
                <tr class="is-size-7-touch">
                    <th></th>
                    <th>#</th>
                    <th>Megnevezés</th>
                    <th>Tartozik összes</th>
                    <th class="is-hidden-touch">Követel összes</th>
                    <th class="is-hidden-touch">Egyenleg</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of model">
                    <tr class="is-size-7-touch" [class.is-working]="item.is_working"
                        *ngIf="filter.length > 0 ? item.account_id.includes(filter) : true">
                        <td class="is-narrow">
                            <span class="icon">
                                <i class="far fa-check-circle" [class.has-text-success]="item.is_working"></i>
                            </span>
                        </td>
                        <td class="is-narrow">{{item.account_id}}</td>
                        <td>{{item.account_name}}</td>
                        <td class="is-narrow is-hidden-touch">{{item.debit_total.toLocaleString()}} HUF</td>
                        <td class="is-narrow is-hidden-touch">{{item.credit_total.toLocaleString()}} HUF</td>
                        <td class="is-narrow">
                            <strong>{{item.total.toLocaleString()}} HUF</strong></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</section>