<section class="section">
    <div class="container">
        <!--         
        Search field mobile view -->
        <div class="columns is-hidden-desktop">
            <div class="column has-text-centered">
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" placeholder="Számlaszám" name="account" [(ngModel)]="account">
                        <span class="icon is-small is-left">
                            <i class="fas fa-list-alt"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="date" placeholder="Ettől" name="from" [ngModel]="from"
                            (ngModelChange)="from = $event">
                        <span class="icon is-small is-left">
                            <i class="fas fa-calendar-alt"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="date" placeholder="Eddig" name="till" [ngModel]="till"
                            (ngModelChange)="till = $event">
                        <span class="icon is-small is-left">
                            <i class="fas fa-calendar-alt"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button" (click)="loadData()">Szűrés</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 
        Search field desktop view -->
        <nav class="level is-hidden-touch">
            <div class="level-left">
                <div class="level-item">
                    <!-- <div class="control has-icons-left">
                        <input class="input" type="date" placeholder="Keresés">
                        <span class="icon is-small is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </div> -->
                    <form (submit)="loadData()">
                        <div class="field is-grouped">
                            <p class="control has-icons-left">
                                <input class="input" type="text" placeholder="Számlaszám" name="account"
                                    [(ngModel)]="account">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-list-alt"></i>
                                </span>
                            </p>
                            <p class="control has-icons-left">
                                <input class="input" type="date" placeholder="Ettől" name="from" [ngModel]="from"
                                    (ngModelChange)="from = $event">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                            </p>
                            <p class="control has-icons-left">
                                <input class="input" type="date" placeholder="Eddig" name="till" [ngModel]="till"
                                    (ngModelChange)="till = $event">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                            </p>
                            <div class="control">
                                <button class="button" (click)="loadData()">Szűrés</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="level-right is-hidden-mobile">
                <div class="level-item">
                    <button class="button is-outlined is-success is-normal" routerLink="./new">Új tétel</button>
                </div>
            </div>
        </nav>
        <!-- 
        Sort field mobile view -->
        <!-- <div class="columns is-hidden-desktop">
            <div class="column has-text-centered">
                <a>
                    Rendezés dátum alapján
                    <span class="icon">
                        <i class="fas fa-sort-up"></i>
                    </span>
                </a>
                <a>
                    Rendezés összeg alapján
                    <span class="icon">
                        <i class="fas fa-sort-up"></i>
                    </span>
                </a>
            </div>
        </div> -->
        <!-- 
        Sort field desktop view -->
        <!-- <nav class="level is-hidden-mobile">
            <div class="level-left"></div>
            <div class="level-right">
                <div class="level-item is-size-7">
                    <a>
                        Rendezés dátum alapján
                        <span class="icon">
                            <i class="fas fa-sort-up"></i>
                        </span>
                    </a>
                </div>
                <div class="level-item is-size-7">
                    <a>
                        Rendezés összeg alapján
                        <span class="icon">
                            <i class="fas fa-sort-up"></i>
                        </span>
                    </a>
                </div>
            </div>
        </nav> -->
        <div class="box has-background-lighter" *ngFor="let transaction of model">
            <p class="is-size-7 header">
                <a>{{transaction.date_settlement | date}}</a>
                <a>@{{transaction.created_by}}</a>
                <a>#{{transaction.id}}</a>
            </p>
            <p class="is-6">
                <a class="has-text-dark" [routerLink]="['./', transaction.id]">{{transaction.subject}}</a>
            </p>
            <p class="has-text-grey is-size-7 is-inline-block ft">
                <span>Összeg: <strong>{{transaction.amount.toLocaleString()}} HUF</strong></span>
                <span>Kontír tételek: {{transaction.debit}} / {{transaction.credit}}</span>
                <span>Könyvelés dátuma: {{transaction.date_created | date}}</span>
            </p>
        </div>
    </div>
</section>