<section class="section">
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-2">
                <p class="title is-3">Beállítások</p>
                <aside class="menu">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a>Dashboard</a></li>
                        <li><a>Customers</a></li>
                    </ul>
                    <p class="menu-label">
                        Administration
                    </p>
                    <ul class="menu-list">
                        <li><a>Team Settings</a></li>
                        <li>
                            <a class="is-active">Manage Your Team</a>
                            <ul>
                                <li><a>Members</a></li>
                                <li><a>Plugins</a></li>
                                <li><a>Add a member</a></li>
                            </ul>
                        </li>
                        <li><a>Invitations</a></li>
                        <li><a>Cloud Storage Environment Settings</a></li>
                        <li><a>Authentication</a></li>
                    </ul>
                    <p class="menu-label">
                        Transactions
                    </p>
                    <ul class="menu-list">
                        <li><a>Payments</a></li>
                        <li><a>Transfers</a></li>
                        <li><a>Balance</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                Hello {{(counter$ | async) || 0}}
                <div class="control">
                    <input class="input" type="text" [ngModel]="(counter$ | async) || 0">
                </div>
                <ng-template #elseBlock>
                    Nothing
                </ng-template>
                <ul>
                    <li *ngFor="let user of customers$ | async">{{user.username}}</li>
                </ul>
                <hr>
                <div class="columns">
                    <div class="column">
                        <p class="title is-4">Items all</p>
                        <br>
                        <ul>
                            <li *ngFor="let item of array._display()">{{item}}</li>
                        </ul>
                        <pagernav [data]="array"></pagernav>
                    </div>
                    <div class="column">
                        <button class="buttton" (click)="changeArrayFirst()">Change first</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>