<section class="section">
    <div class="container is-fluid is-overlay">
        <div class="columns">
            <div class="column is-4">
                <p class="title is-4 is-inline-block">Keresés</p>
                <input type="text" class="input" placeholder="Keresés..." [(ngModel)]="search">
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column">
                        <p class="title is-4">Kosár</p>
                    </div>
                    <div class="column is-3">

                    </div>
                </div>
                <div class="tabs is-small">
                    <ul>
                        <li class="is-active"><a>Kosár 1</a></li>
                        <li><a>Kosár 2</a></li>
                        <li><a>Mezei Péter</a></li>
                        <li><a>Kosár 4</a></li>
                        <li class="has-text-centered">
                            <a href="#">
                                <span class="has-text-centered">
                                    <i class="fas fa-plus" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="columns">
                    <div class="column">
                        <table class="table is-fullwidth cart">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Név</th>
                                    <th>Kiszerelés</th>
                                    <th></th>
                                    <th>Mennyiség</th>
                                    <th>Ár</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="is-narrow">
                                        <span class="icon has-text-success">
                                            <i class="fas fa-ellipsis-h egg"></i>
                                        </span>
                                    </td>
                                    <td>Kerti lombsebprű</td>
                                    <td class="is-narrow">1 db</td>
                                    <td class="is-narrow">
                                        <span class="icon has-text-success">
                                            <i class="fas fa-check-circle"></i>
                                        </span>
                                    </td>
                                    <td class="is-narrow">
                                        9/9
                                    </td>
                                    <td class="is-narrow">450.500 Ft</td>
                                </tr>
                                <tr class="has-background-warning-light">
                                    <td class="is-narrow"></td>
                                    <td>Yara Milla lombtrágya 20-4-4</td>
                                    <td class="is-narrow">2 kg</td>
                                    <td class="is-narrow">
                                        <span class="icon has-text-warning">
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </span>
                                    </td>
                                    <td class="is-narrow">
                                        3/1
                                    </td>
                                    <td class="is-narrow">3.500 Ft</td>
                                </tr>
                                <tr>
                                    <td class="is-narrow"></td>
                                    <td>UPL Benevia növényvédőszer krumplibogár ellen</td>
                                    <td class="is-narrow">50 ml</td>
                                    <td class="is-narrow">
                                        <span class="icon has-text-success">
                                            <i class="fas fa-check-circle"></i>
                                        </span>
                                    </td>
                                    <td class="is-narrow">
                                        1/1
                                    </td>
                                    <td class="is-narrow">3.500 Ft</td>
                                </tr>
                                <tr>
                                    <td class="is-narrow"></td>
                                    <td>Bordóilé neo SC 1 liter</td>
                                    <td class="is-narrow">1 liter</td>
                                    <td class="is-narrow">
                                        <span class="icon has-text-success">
                                            <i class="fas fa-check-circle"></i>
                                        </span>
                                    </td>
                                    <td class="is-narrow">
                                        1/1
                                    </td>
                                    <td class="is-narrow">3.900 Ft</td>
                                </tr>
                                <tr>
                                    <td class="is-narrow"></td>
                                    <td>Bordóilé neo SC 1 liter</td>
                                    <td class="is-narrow">300 ml</td>
                                    <td class="is-narrow">
                                        <span class="icon has-text-success">
                                            <i class="fas fa-check-circle"></i>
                                        </span>
                                    </td>
                                    <td class="is-narrow">
                                        1/1
                                    </td>
                                    <td class="is-narrow">1.750 Ft</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="column is-3 has-background-danger-light">
                        <p class="title">127.000 Ft</p>
                        <p class="subtitle is-spaced">100.000 Ft
                            <span class="icon has-text-grey" (click)="message('A kosár nettó összege')">
                                <i class="fas fa-info-circle"></i>
                            </span>
                        </p>
                        <p class="title is-5">Vásárló</p>
                        <p class="subtitle is-5 is-spaced">Mezei Péter</p>
                        <p class="title is-5">Kedvezmény</p>
                        <p class="subtitle is-5 is-spaced">0%</p>
                        <p class="title is-5">Számla</p>
                        <p class="subtitle is-5 is-spaced">4522 Nyírtass, Bem út 23/B.</p>
                        <p class="title is-5">Adószám</p>
                        <p class="subtitle is-5 is-spaced">-</p>
                        <div class="buttons are-medium">
                            <button class="button is-success is-fullwidth">Lezárás</button>
                            <button class="button is-danger is-fullwidth is-outlined">Törlés</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<button (click)="demo1.open()">Demo1</button>
<button (click)="demo2.open()">Demo2</button>
<button (click)="demo3.open()">Demo3</button>

<modal #demo2 title="Demo2" [hasCancel]="true" [callbackSubmit]="['Létrehoz', demo]">
    Hello Bello
</modal>

<modal #demo3 title="demo3">
    <p class="title">Hello Bello</p>
</modal>

<modal #demo1 title="Demo TITLE">
    <div class="columns">
        <div class="column is-4">
            <aside class="menu">
                <p class="menu-label">
                    General
                </p>
                <ul class="menu-list">
                    <li><a>Dashboard</a></li>
                    <li><a>Customers</a></li>
                </ul>
                <p class="menu-label">
                    Administration
                </p>
                <ul class="menu-list">
                    <li><a>Team Settings</a></li>
                    <li><a>Team Settings 2</a></li>
                </ul>
            </aside>
        </div>
        <div class="column content">
            <p class="title is-4">Hello bello</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore labore temporibus perferendis
                eveniet, libero doloremque!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore labore temporibus perferendis
                eveniet, libero doloremque!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore labore temporibus perferendis
                eveniet, libero doloremque!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore labore temporibus perferendis
                eveniet, libero doloremque!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore labore temporibus perferendis
                eveniet, libero doloremque!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore labore temporibus perferendis
                eveniet, libero doloremque!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore labore temporibus perferendis
                eveniet, libero doloremque!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore labore temporibus perferendis
                eveniet, libero doloremque!</p>
        </div>
    </div>
</modal>