<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <p class="title">Új eszköz</p>
                <form #loginForm="ngForm" (submit)="submit()">
                    <div class="field">
                        <label class="label">Eszköz neve</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Példa eszköz" name="name"
                                [(ngModel)]="model.name">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Eszköz rövid leírása</label>
                        <div class="control">
                            <textarea name="description" cols="30" rows="5" class="textarea"
                                [(ngModel)]="model.description"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Főkönyvi számla</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Példa számla" name="account"
                                [(ngModel)]="model.account">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">ÉCS elszámolási számla</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Példa számla" name="account_clearing"
                                [(ngModel)]="model.account_clearing">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Aktiválási érték</label>
                    </div>
                    <div class="field has-addons">
                        <div class="control">
                            <input type="number" class="input" name="value" [(ngModel)]="model.value">
                        </div>
                        <p class="control">
                            <a class="button is-static">
                                HUF
                            </a>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">ÉCS kulcs (%)</label>
                        <div class="control">
                            <input type="number" class="input" name="key" [(ngModel)]="model.depreciation_key">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Maradványérték</label>
                    </div>
                    <div class="field has-addons">
                        <div class="control">
                            <input type="number" class="input" name="residual_value" [(ngModel)]="model.residual_value">
                        </div>
                        <p class="control">
                            <a class="button is-static">
                                HUF
                            </a>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Aktiválás dátuma</label>
                        <div class="control">
                            <input type="date" class="input" name="date_activated" [ngModel]="model.date_activated"
                                (ngModelChange)="model.date_activated = $event">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <div class="buttons">
                                <button class="button is-success is-outlined" type="submit">Létrehoz</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>