<div class="buttons has-addons is-centered" *ngIf="data.pages().length > 1">
    <a class="button" [routerLink]="['./']" [queryParams]="{page: data.previous_page()}"
        queryParamsHandling="merge">Előző</a>
    <ng-container *ngFor="let page of data.pages()">
        <a class="button" [routerLink]="['./']" [queryParams]="{page: page}" queryParamsHandling="merge"
            [class.is-info]="data.current_page == page">{{page}}</a>
    </ng-container>
    <a class="button" [routerLink]="['./']" [queryParams]="{page: data.next_page()}"
        queryParamsHandling="merge">Következő</a>
</div>