<div class="modal" [class.is-active]="isActive">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete" aria-label="close" (click)="isActive = !isActive"></button>
        </header>
        <section class="modal-card-body">
            <ng-content></ng-content>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success">Save changes</button>
            <button class="button">Cancel</button>
        </footer>
    </div>
</div>