<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <p class="title">Új repository</p>
                <form (ngSubmit)="submit()" #loginForm="ngForm">
                    <div class="field">
                        <label class="label">Repository neve</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Példa név" name="name"
                                [(ngModel)]="model.name">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Repository leírása</label>
                        <div class="control">
                            <textarea name="description" cols="30" rows="5" class="textarea"
                                [(ngModel)]="model.description"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <div class="buttons">
                                <button class="button is-success is-outlined" type="submit">Létrehozás</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>