<section class="section">
    <div class="container">
        <p class="title is-6">{{repositoryName}} / <span class="has-text-grey"></span></p>
        <div class="tabs is-boxed is-small">
            <ul>
                <li routerLinkActive="is-active">
                    <a routerLink="./dashboard">
                        <span class="icon is-small"><i class="far fa-chart-bar" aria-hidden="true"></i></span>
                        <span>Kimutatás</span>
                    </a>
                </li>
                <li routerLinkActive="is-active">
                    <a routerLink="./ledger">
                        <span class="icon is-small"><i class="fas fa-meteor" aria-hidden="true"></i></span>
                        <span>Főkönyv</span>
                    </a>
                </li>
                <li routerLinkActive="is-active">
                    <a routerLink="./transaction">
                        <span class="icon is-small"><i class="far fa-credit-card" aria-hidden="true"></i></span>
                        <span>Tranzakciók</span>
                    </a>
                </li>
                <li routerLinkActive="is-active">
                    <a routerLink="./asset">
                        <span class="icon is-small"><i class="far fa-building" aria-hidden="true"></i></span>
                        <span>Tárgyi eszközök</span>
                    </a>
                </li>
                <li routerLinkActive="is-active">
                    <a routerLink="./project">
                        <span class="icon is-small"><i class="fas fa-campground" aria-hidden="true"></i></span>
                        <span>Projektek</span>
                    </a>
                </li>
                <li routerLinkActive="is-active">
                    <a routerLink="./account">
                        <span class="icon is-small"><i class="far fa-list-alt" aria-hidden="true"></i></span>
                        <span>Számlatükör</span>
                    </a>
                </li>
                <li routerLinkActive="is-active">
                    <a routerLink="./setting">
                        <span class="icon is-small"><i class="fas fa-ellipsis-v" aria-hidden="true"></i></span>
                        <span>Beállítások</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<router-outlet></router-outlet>